/*portfolio section*/
.portfolio {
  display: grid;
  grid-template-rows: 2;
  padding: 30px 0;
}
#portfolio {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#portfolio .col-md-3 {
  position: relative;
  overflow: hidden;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.col-md-3 img {
  max-width: 100%;
  max-height: 100%;
}

#overtext1,
#overtext2,
#overtext3,
#overtext4,
#overtext5,
#overtext6,
#overtext7,
#overtext8 {
  background-color: rgba(255, 255, 255, 0.456);
  border: 5px solid white;
  display: none;
  position: absolute;
  top: 15px;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  font-weight: bolder;
  width: 190px;
  height: 145px;
  margin-left: 0.7%;
}
