:root {
  --primary-color: #1811eb;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/backgrounds/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

header {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  transform: scale(1.1);
  color: #5650f2;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

.homepage {
  padding: 0 50px;
}

/* Intro section */
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
}

.intro__details > h1 {
  font-size: 80px;
  color: var(--primary-color);
  font-weight: bold;
  font-style: italic;
}

.intro__details > ul {
  list-style: none;
  columns: 2;
  margin: 20px 0;
}

.intro__details > ul li {
  margin-bottom: 10px;
}

.intro__details > ul li::before {
  content: "\003e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: var(--primary-color);
}

.intro__details > button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
}

.intro__details > button:focus {
  outline: none;
}

.intro__details > button:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.intro__details > button:active {
  transform: scale(0.9);
}

.intro__details > button > a {
  color: #fff;
  text-decoration: none;
}

.intro > img {
  height: 100%;
  width: 100%;
}

/* About section */
.bio {
  margin-bottom: 100px;
}
.bio ul {
  list-style: none;
  margin: 20px 0;
}

/* Awards section */
.awards {
  margin-bottom: 100px;
}

.awards > ul {
  list-style: none;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}

.awards > ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  margin-bottom: 10px;
}

.award__img {
  width: 500px;
  height: 500px;
  margin: 0 20px;
}

/* Contribution Section */
.contribution {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.contribution__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  font-weight: bold;

  width: 20%;
  height: 180px;
  background-color: #333;
}

.contribution__img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-top: -50px;
}

.count {
  font-size: 20px;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
